.back-button {
  display: inline-block;
  margin-bottom: 20px;
  color: #fff;
  text-decoration: none;
  font-weight: bold;
}

.detail-container {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
}

.detail-poster {
  max-width: 300px;
  width: 100%;
  border-radius: 10px;
  box-shadow: 0 0 10px #000;
}

.detail-info {
  flex: 1;
  color: #ccc;
}

.watch-button {
  display: inline-block;
  margin-top: 20px;
  background: #ff004f;
  color: white;
  padding: 10px 20px;
  border-radius: 10px;
  text-decoration: none;
  font-weight: bold;
  transition: background 0.3s;
}
.watch-button:hover {
  background: #cc003c;
}

.pagination-bar {
  display: flex;
  gap: 8px;
  justify-content: center;
  margin: 20px 0;
}

.pagination-bar button {
  background: #222;
  color: #fff;
  border: none;
  padding: 8px 12px;
  cursor: pointer;
  border-radius: 6px;
  transition: background 0.3s;
}

.pagination-bar button:hover {
  background: #ff004f;
}

.active-page {
  background: #ff004f;
}